<div class= "jobs-block">
	<p>Company: {{this.company}} Job Title: 	{{this.job_title}}	Location: {{this.location}}	Contact Email: {{this.email}}</p>

	<button class="delete-job" data-id="{{this.id}}"> DELETE!</button>
</div>
